.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.card {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  min-width: 200px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}


.card-title {
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.card-content {
  font-size: 1rem;
  color: #666;
}


/* app.jsx style */

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.carousel-button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.carousel-button:hover {
  background-color: #0056b3;
}

.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.card {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card-title {
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.card-content {
  font-size: 1rem;
  color: #666;
}
